<html>
    <head>
        <title>Survey Form</title>
    </head>
    <body>
        <form action='/userform' method='POST'>
        Your Name:<input type='text' name=
        'name' value=''>
        Dojo Location: <select name="location">
  <option value="California">California</option>
  <option value="Seattle">Seattle</option>
  <option value="Houston">Houston</option>
  <option value="Chicago">Chicago</option>
</select>
Favorite Language:<select name="language">
  <option value="JavaScript">JavaScript</option>
  <option value="Python">Python</option>
  <option value="C#">C#</option>
  <option value="IOS">IOS</option>
</select>
<textarea name="message" rows="3" cols="20">
</textarea>
<input type='submit' name='submit' value='Submit'>
        </form>
    </body>
<html>