<html>
    <head>
    </head>

    <body>
        <h3>Submitted Informaton</h3>
        <hr>
        Name: <%= data.name %>
        Dojo Location: <%= data.location %> 
        Favorite Language: <%= data.language %>
        Comment: <%= data.message %>
    </body>
</html>