<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>GitHub Score</h1>

  <div>
    <form (submit)='getScore()' #formData='ngForm'>
      Github Username: <input type='text' name='username' value='' required [(ngModel)]='username'><br>
      <input type='submit' [disabled]='!formData.valid' value='Calculate my Github Score'>
    </form>
  </div>

  <div *ngIf='(userExists === true)'>
    <h2>Your Score: {{score}}</h2>
    <h5 class='red' *ngIf="score < 20">Needs Work!</h5>
      <h5  *ngIf="score >= 20 && score < 50">A decent start!</h5>
      <h5 *ngIf="score >= 50 && score < 100">Doing good!</h5>
      <h5 *ngIf="score >= 100 && score < 200">Great Job!</h5>
      <h5 *ngIf="score >= 200">Github Elite!</h5>
  </div>
  <div class='nonuser' *ngIf='userExists === false'>
    <p>User does not exist, enter a different username</p>
</div>
