<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mongoose</title>
        <meta name="description" content="">
       
    </head>
    <body>
        <form action='/users' method='post'>
            <label>
            Name:<input type='text' name='name'>
            </label>
            <label>
            Age:<input type='number' name='age'>
            </label>
            <!--<p>Select your gender:</p>
            <label>
            Male<input type='radio' name='gender' value='male'>
            </label>
            <label>
            Female<input type='radio' name='gender' value='female'>
            </label>
            <p>For security, enter your password.</p>
            <label>
            Password:<input type='password' name='password'>
            </label>-->
            <input type='submit' value='Click here to register'>
        </form>        
    </body>
</html>